body {
    font-family: "montserrat";
}

h1, h2, h3 {
    font-family: "montserrat";
    font-weight: 900;
}



/* Section1/NavBar */
/* NavBar */
.navbar_1 {
    background-color: #ff4c68;
}

#navbarNav {
    flex: none;
    padding: 0 10%;
}

.navbar-brand {
    padding-left: 9%;
}

.navbar-light, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand, .navbar-light .navbar-toggler  {
    color: white;
    border-color: white;
}
img {
    border-radius: 100%;
}
/* Section 1/Welcome Containers */
.welcome {
    background-color: #ff4c68;
    color: white;
}

.container_1 {
    position: relative;
    float: right;
    text-align: center;
    padding: 2% 10%;
}

.container_2 {
    position: relative;
    float: left;
    padding: 2% 10%;
}

.container_2 h1 {
    padding-bottom: 8%;
}

/* Section 2/Testimonials */
.section_2 {
    text-align: center;
    background-color: #FE7E6D;
    height: 700px;
    padding-top: 5%;
}

.carousel-item {
    padding: 5% 20%;
}

.testimonial_text {
    font-style: italic;
}

.testimonials_img {
    max-height: 287px;
    padding: 5% 0;
}

/* Section 3/Pricing Cards */

.section_3 {
    background-color: #EEEEEE;
    padding: 5% 10%;
}

.pricing_header, .card-header {
    text-align: center;
}

.pricing_column {
    padding: 2%;
}

.google_reviews img {
border-radius: 20%;
}

/* Section 4/Sign up */

.section_4 {
    margin: 10% auto;
    transform: rotate(-5deg);
    text-align: center;
}

footer, span {
    padding: 20% auto;
    background-color: #FE7E6D;
    color: white;
    padding: 2% 1%;
    border: 2px;
    text-align: center;
}

footer p {
    color: black;
}

.icon:hover {
    color: #F1D00A;
}

@media (max-width: 991px) {
    body {
        text-align: center;
    }

    /* Section 2/Testimonials */
    .section_2 {
        height: 650px;
        padding-top: 10%;
        font-size: .8rem;
    }

    .testimonial_text {
        margin: auto -25%;
        line-height: 2;
    }

    .testimonials_img {
        max-height: 223px;
        padding: 5% 0;
    }

    button.carousel-control-next, .carousel-control-prev  {
        opacity: 0;
    }
    
    /* Section 3/Pricing Cards */
    .card-body {
        text-align: left;
    }

    #pricing.section_3 {
    padding-top: 10%;
    }

}