body {
    background-color: #FE7E6D;
    padding: 0 10%;
    text-align: center;
}

img {
    border-radius: 100%;
}

.icon:hover {
    color: #F1D00A;
}

/* NavBar */
#navbarNav {
    flex: none;
    padding: 0 10%;
}

.navbar-brand {
    padding-left: 9%;
}

.navbar-light, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand, .navbar-light .navbar-toggler  {
    color: white;
    border-color: white;
}

/* HR Styling */
hr { 
    opacity: 80%;
    background-image: linear-gradient(to right, rgba( 254, 126, 109, 1), rgba( 255, 255, 255, 1), rgba( 254, 126, 109, 1));  
 }

.mobile_hr {
    display: none;
}

/* Profile Picture Styling */
.profile_pictures {
    width: 30%;
    text-align: center;
    position:relative;
}

#maegans_profile_img {
    margin-top: 7%;
}

/* Footer and Icon Styling */
footer, span {
    color: white;
    padding: 10px;
}

footer p {
    color: black;
}

/* HR hidden until on mobile platform */
@media (max-width: 991px) {
    .mobile_hr {
        display: inherit;
    }
}